*{
    margin: 0px;
}

.Titulos{
    font-size: 2.5em;
    font-family: sans-serif;
}

.container{
    display: flex;
    margin-left: 250px;
    padding: 50px;
}

#fotodiego{
    border-radius: 50%;
    border: 5px solid rgb(56, 56, 56);
}

.Titulo{
    font-size: 3.5em;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px
}

.container h1{
    border-radius: 300px;
    margin-left: 30px;
}

.borde{
    background-color: rgb(253, 183, 32);
    padding: 25px;
    margin-bottom: 100px;
}

.borde nav{
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.borde a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 7px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: whitesmoke;
}

.about{
    display: flex;
    margin-left: 200px;
    padding: 50px;
}

.about img{
    border: 5px solid rgb(56, 56, 56);
    border-radius: 50%;
}

.about2{
    display: flex;
    flex-direction: column;
}

.about h1{
    margin-left: 50px;
}

.about2 p{
    font-family: cursive;
    font-size: 1.2em;
    margin-left: 50px;
    margin-top: 50px;
}

.cole{
    display: flex;
    margin-left: 250px;
}

.cole img{
    height: 416px;
    width: 447px;
    border: 5px solid rgb(56, 56, 56);
    border-radius: 50%;
}

.cole2{
    display: flex;
    flex-direction: column;
}

.cole h1{
    margin-left: 50px;
}

.cole2 p{
    font-family: cursive;
    font-size: 1.2em;
    margin-left: 50px;
    margin-top: 50px;
}


.game{
    display: flex;
    margin-left: 250px;
}

.game img{
    margin-top: 50px;
    height: 416px;
    width: 447px;
    border: 5px solid rgb(56, 56, 56);
    border-radius: 50%;
}

.game h1{
    margin-left: 50px;
    margin-top: 55px;
}

.game p{
    font-family: cursive;
    font-size: 1.2em;
    margin-left: 50px;
    margin-top: 50px;
}

.serie{
    display: flex;
    margin-left: 250px;
}

.serie img{
    margin-top: 50px;
    height: 416px;
    width: 447px;
    border: 5px solid rgb(56, 56, 56);
    border-radius: 50%;
}

.serie h1{
    margin-top: 50px;
    margin-left: 50px;
}

.serie p{
    font-family: cursive;
    font-size: 1.2em;
    margin-top: 50px;
    margin-left: 50px;
}

.vaca{
    display: flex;
    margin-left: 250px;
}

.vaca img{
    margin-top: 50px;
    height: 416px;
    width: 447px;
    border: 5px solid rgb(56, 56, 56);
    border-radius: 50%;
}

.vaca h1{
    margin-top: 50px;
    margin-left: 50px;
}

.vaca p{
    font-family: cursive;
    font-size: 1.2em;
    margin-top: 50px;
    margin-left: 50px;
}

.contact{
    margin-left: 200px;
}

.contact h2{
    margin-left: 80px;
}

.contact ul{
    margin-left: 100px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}







